<div class="container-flats-index">
<% @cocktails.each do |task| %>
<div class="card-cocktail">
<h2><%= link_to task.name, cocktail_path(task) %></h2>
</div>
<% end %>
</div>
<div class="add-a-cocktail">
<%= link_to new_cocktail_path do%><i class="fas fa-plus"></i> <% end %>
</div>
