<head>
 <meta http-equiv="refresh" content="10.5;url=<%= cocktails_path %>">
</head>

<div class="main-wrapper">
<div class="loading-screen">
  <div>
    <%= video_tag "ahah.webm", size: "420x340", controls: false ,autoplay: true, loop: true %>
  </div>
  <p  style="text-align: center; font-size: 85px">Willkommen</p>
</div>
</div>

